name: Simple Deploy

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload files
        uses: actions/upload-pages-artifact@v3
        with:
          path: './pages' # This deploys your whole repo. Change to './dist' if your site is in a folder.

      - name: Deploy
        uses: actions/deploy-pages@v4